<%# Keep in-sync with _form.html.erb  %>
<li class="edit-click flex-box flex-box-big draggable task" data-id="<%= task.id %>" id="task[<%= task.id %>]">
  <% if task.status %>
    <span class="task-left-header">
      <%= task.status.name %>
    </span>
  <% end %>
  <span class="task-main">
    <h2 class="flex-title"><%= task.name %><span class="task-due-at"> due in <%= distance_of_time_in_words(Time.now, task.due_at) %></span></h2>
    <p><%= task.description %></p>
    <% if task.category %>
      <span class="category-badge"><%= task.category.name %></span>
    <% end %>
  </span>
  <span class="task-right-header">
    <button class="todone"><i class="fa fa-check"></i></button>
  </span>
</li>
