<p id="notice"><%= notice %></p>

<h1>All Tasks</h1>
<%= link_to 'New Task', new_task_path, class: "new-task", remote: true %>

<% if @current_user && @tasks.any? %>
  <ul class="flex-boxes tasklist">

    <li id="new-task-form" class="flex-box flex-box-big task">
    </li>

    <% @tasks.each do |task| %>
      <% rgbvalues = "" %>
      <% if task.category.color %>
        <% rgbvalues = task.category.color.match(/(\d{1,3}),(\d{1,3}),(\d{1,3})/) %>
      <% end %>
      <li class="flex-box flex-box-big draggable task" data-id="<%= task.id %>" id="task-<%= task.id %>"
      <% if task.category.color %>
        style="
          border-top: 6px solid rgb(<%= "#{rgbvalues[1]},#{rgbvalues[2]},#{rgbvalues[3]}" %>);
          background-color: rgba( <%= "#{rgbvalues[1].to_i+20},#{rgbvalues[2].to_i+20},#{rgbvalues[3].to_i+20}" %>, 0.8 );"
      <% end %>
        >
        <%= render task %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if logged_in? %>
  <p><%=link_to 'log out', logout_path, method: :delete  %></p>
<% end %>

