<p id="notice"><%= notice %></p>

<p>
  <strong>Owner task:</strong>
  <%= @task.owner_task_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Due at:</strong>
  <%= @task.due_at %>
</p>

<p>
  <strong>Position:</strong>
  <%= @task.position %>
</p>

<p>
  <strong>Category:</strong>
  <%= @task.category_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status_id %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
